.App {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 100%; 
  padding: 10px;
  background-color: #3ca293;
}

.App-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.DropdownWrapper {
  width: 80%;
  margin-bottom: 20px;
}

.Drop-down {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1); /* Slight transparency */
  color: white;
  font-size: 1.2em;
  appearance: none; /* Remove default appearance */
}

.Slider {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Slider input[type='range'] {
  width: 100%;
  margin: 10px 0;
  appearance: none;
  background-color: rgba(255, 255, 255, 0.2);
}

.Slider input[type='range']::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 2px solid #3ca293; /* Add a border for better visibility */
  border-radius: 50%;
}

.Slider input[type='range']::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: white;
  border: 2px solid #3ca293; /* Add a border for better visibility */
  border-radius: 50%;
}
